@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body{
    background: linear-gradient(to bottom right, #89a7b1, #05a862 );
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    height: 70vh; 
    margin: 0;
    justify-content: center;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column; 
    display: flex; 

}
.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #89a7b1;
    width: 100%;
    padding: 5px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10; 
}

.logo, .sociais{
    width: 25%;
}

.logo img{
    width: 125px;
    cursor: pointer;
    border-radius: 8px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}


.menu nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 0 20px; 
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #89a7b1, #05a862 );
    position: absolute;
    top: 30px;
    left: 0;
    transition-duration: 0.5s;
}

.menu nav a:hover::after{
    width: 75%; 
    
}

.sociais{
    width: 25%;
    display: flex; 
    justify-content: flex-end; 
}

.sociais button{
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, #89a7b1, #05a862 );
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.sociais button i{
    font-size: 30px;
    color: #ffffff;
}

.sociais button:hover {
    transform: scale(1.2); 
 }

 .sociais button:last-child {
    margin-right: 0; 
}

:root{
    --dark: #0c0c0c;
    --white: #fff;
    --purple: #5959ff;
    --gray: #94949;
    --gray2:#cccccc;
}

.box-question {
    background-color: var(--white);
    margin-top: 370px;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    max-height: 800px;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    flex-grow: 1; 
}

.box-question .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}

.box-question input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid var(--gray2);
}

.box-question button {
    padding: 10px 32px;
    font-size: 16px;
    background-color: #05a862;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.box-question button:hover {
    background-color: #2c8b53;
    transform: scale(1.05); 
}

.header h1{
    text-transform: uppercase;
    background: linear-gradient(45deg,#0FC2C0, #590101,#008F8C,#0CABA8 );
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

#chat {
    background: linear-gradient(45deg, #02f75c, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

