@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body{
    background: linear-gradient(to bottom right, #89a7b1, #05a862 );
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    height: 70vh; 
    margin: 0;
    justify-content: center;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column; 
    display: flex; 

}
.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #89a7b1;
    width: 100%;
    padding: 5px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 10; 
}

.logo, .sociais{
    width: 25%;
}

.logo img{
    width: 125px;
    cursor: pointer;
    border-radius: 8px;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}


.menu nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 0 20px; /* Adiciona espaçamento uniforme entre os links */
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #89a7b1, #05a862 );
    position: absolute;
    top: 30px;
    left: 0;
    transition-duration: 0.5s;
}

.menu nav a:hover::after{
    width: 75%; 
    
}

.sociais{
    width: 25%;
    display: flex; 
    justify-content: flex-end; 
}

.sociais button{
    width: 50px;
    height: 50px;
    background-image: linear-gradient(45deg, #89a7b1, #05a862 );
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease, color 0.5s ease;
}

.sociais button i{
    font-size: 30px;
    color: #ffffff;
}

.sociais button:hover {
    transform: scale(1.2); 
 }

 .sociais button:last-child {
    margin-right: 0; 
}

    .container2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-style: preserve-3d;
    }

    .container2 .card h2{
        color: #fff;
        transform-style: preserve-3d;

    }

    .container2 .card{
        width: 300px;
        height: 450px;
        margin-top: 450px;
        margin-right:100px; 
        margin-left: 100px;
        justify-content: space-between;
        flex-direction: column;
        background-color: aqua;
        display: flex;
        align-items: center;
        padding: 20px;
        transform-style: preserve-3d;
        border-radius: 30px;
    }

    .container2 .card .prof{
        max-width: 250px;
        transform-style: preserve-3d;
        transition: .5s;
    }

    .container2 .card:hover .prof, .container2 .card:hover button{
        transform: translate3d(0,0, 100px);
       
    }

    .container2 .card button{
        padding: 10px 40px;
        
        border: 2px solid #2bff6a;
        border-radius: 20px;
        color: #2bff6a;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
        transition: .5s;
        transform-style: preserve-3d;
        position: relative;
        transition: .5s;
    }

    .container2 .card button:hover{
        color: #fff;
    }

    .container2 .card button::before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        background-color: #2bff6a;
        border-radius: 20px;
        border: 2px;
        z-index: -1;
        transform-origin: left;

        transform: scaleX(0);
        transition: transform .5s cubic-bezier(0.5, 1.6, 0.4,0.7);
        box-shadow: 5px 5px 15px rgba(6, 239, 134, 0.903);
    }

    .container2 .card button:hover::before{
        transform: scaleX(1);
    }

    .container2 div.card1{
        background-image: linear-gradient(45deg, #003cff, #00f7ff);
    }

    .container2 div.card2{
        background-image: linear-gradient(45deg, #be3b57, #ff7392);
    }

    #profissio {
        background: linear-gradient(45deg, #02f75c, #00f7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

 a:link {
    color: #fff;
    text-decoration: none;
 }